.edit-page-form {
    .column {
        float: left;
        margin: 0 10px;
        button.ms-Button.ms-Button--default {
            max-width: initial;
        }
        .column-header {
            label {
                float: left;
                margin-right: 10px;
            }
            button {
                float: right;
            }
        }
    }
}