
$focusColor: #f4f4f4;
$defaultBorder: 1px solid #969696;
$lightBorder: 1px solid $focusColor;
$dragOverColor: #7cbcf1;

body.edit-page-body {
    overflow: auto;
}
.edit-form {
    .menu {
        display: flex;
        .menu-item {
            background-color: transparent;
            border: none;
            border-left: $defaultBorder;
            border-top: $defaultBorder;
            border-bottom: $defaultBorder;
            &:last-child {
                border-right: $defaultBorder;
            }

            &:focus, &:hover {
                background-color: $focusColor;
                text-decoration: underline;
            }
        }
    }
    .edit-page-form {
        .column {
            float: left;
            margin: 0 10px;
            button.ms-Button.ms-Button--default {
                min-width: initial;
            }
            .column-header {
                label {
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
                button {
                    float: right;
                }
                overflow: hidden;
            }
            .group:not(.add) {
                margin-bottom: 40px;
                border: $defaultBorder;
                > div {
                    padding: 2px;
                }
                .group-header {
                    overflow: hidden;
                    background-color: #FBFBFB;
                    border-bottom: $defaultBorder;
                    &.control-drag-over {
                        border-bottom: 30px solid $dragOverColor;
                    }
                    .group-label {
                        float: left;
                        margin-right: 10px;
                        background-color: initial;
                        border: initial;
                        &:hover {
                            background-color: $focusColor;
                        }
                        &:focus {
                            border: $lightBorder
                        }
                        &:active {
                            background-color: #005a9e;
                        }
                    }
                    button {
                        float: right;
                    }
                }
                button.remove {
                    background-color: initial;
                    border: initial;
                    &:hover {
                        background-color: $focusColor;
                    }
                    &:focus {
                        border: $lightBorder
                    }
                    &:active {
                        background-color: #005a9e;
                    }
                }
                .control:not(.add) {
                    overflow: hidden;
                    margin-bottom: 5px;
                    &:hover {
                        background-color: #eff6fc;
                    }
                    &.control-drag-over {
                        border-bottom: 30px solid $dragOverColor;
                    }
                    button.control-button {
                        margin-right: 10px;
                        background-color: initial;
                        border: none;
                        &:hover {
                            background-color: $focusColor;
                        }
                        &:focus {
                            border: $lightBorder
                        }
                        &:active {
                            background-color: #005a9e;
                        }
                    }
                    button.control-remove {
                        float: right;
                    }
                }
            }
        }
    }
}