.page-form {
    .page-header {
        .feedback {
            float: right;
        }
    }
    .page-column {
        margin: 0px 10px;
        float: left;
        .page-group {
            label.page-group-label {
                border-bottom: 1px solid black;
                font-weight: bolder;
            }
            .page-control {
                input[type=text] {
                    max-width: 800px;
                }
                .control-value {
                    .html-value {
                        min-height: 31px;
                        border: 1px solid lightgray;
                    }
                }
            }
        }
    }
}