body.page-body {
    overflow: auto;
}
.page-form {
    .page-header {
        overflow: hidden;
        .open-dialog-button {
            float: left;
        }
        .form-scope-label {
            margin-left: 20px;
            float: left;
        }
        .feedback {
            float: right;
            margin-right: 10px
        }
    }
    .page-column {
        margin: 0px 10px;
        float: left;
        .page-group {
            label.page-group-label {
                border-bottom: 1px solid black;
                font-weight: bolder;
            }
            .page-control {
                .combo {
                    width: 300px;
                    border: initial;
                    &.focus, &:hover {
                        border: 1px solid lightgray;
                    }
                }
                .control-value {
                    .html-value {
                        min-width: 600px;
                        border: 1px solid lightgray;
                    }
                }
            }
        }
    }
}